
body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
}

a {
  color: #000000;
}

a:hover {
  color: #FF7400;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

h7{
  font-size: 20px;
  font-weight: 900;
  max-width: 90%;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  right: 15px;
  bottom: 15px;
  background: #FF7400;
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
}

.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 7px;
  left: 8px;
}

.back-to-top:hover {
  color: #fff;
  background: #FF7400;
  transition: background 0.2s ease-in-out;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background: #040b14;
  overflow-y: auto;
}

#header .profile img {
  margin: 25px auto;
  display: block;
  width: 130px;
  border: 6px solid #8695A7;
}

#header .profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}

#header .profile h1 a, #header .profile h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .profile h1 {
  color: #fff;
  text-align: center;
}

#header .profile .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#header .profile .social-links a:hover {
  background: #FF7400;
  color: #fff;
  text-decoration: none;
}

#main {
  margin-left: 300px;
}

@media (max-width: 1199px) {
  #header {
    left: -300px;
  }
  #main {
    margin-left: 0;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
  padding-top: 30px;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
}

.nav-menu a i {
  font-size: 24px;
  padding-right: 8px;
  color: #6f7180;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  text-decoration: none;
  color: #fff;
}

.nav-menu a:hover i, .nav-menu .active > a i, .nav-menu li:hover > a i {
  color: #FF7400;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #FF7400;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/hero-bg.jpg") top center;
  background-size: cover;
}

#hero:before {
  content: "";
  background: rgba(5, 13, 24, 0.3);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
}

#hero h1 {
  margin: 0 -250px 40px 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero p {
  color: #fff;
  margin-bottom: 50px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

#hero p span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #FF7400;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 400px;
    margin-bottom: 30px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background: #f5f8fd;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #173b6c;
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #FF7400;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #173b6c;

}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 2px;
  color: #149ddd;
}

.about .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Facts
--------------------------------------------------------------*/
.facts {
  padding-bottom: 30px;
}

.facts .count-box {
  padding: 30px;
  width: 100%;
}

.facts .count-box i {
  display: block;
  font-size: 44px;
  color: #FF7400;
  float: left;
}

.facts .count-box span {
  font-size: 48px;
  line-height: 40px;
  display: block;
  font-weight: 700;
  color: #050d18;
  margin-left: 60px;
}

.facts .count-box p {
  padding: 15px 0 0 0;
  margin: 0 0 0 60px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #122f57;
}

.facts .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: #122f57;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  transition: ease-in-out 0.3s;
}

.facts .count-box a:hover {
  color: #1f5297;
}

/*--------------------------------------------------------------
# Akills
--------------------------------------------------------------*/
.skills .progress {
  height: 50px;
  display: block;
  background: none;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #050d18;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #dce8f8;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: .9s;
  background-color: #192687;
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #050d18;
}

.heading {
  padding-bottom: 30px;
}

.heading h2 {
  font-size: 25px;
  padding-bottom: 5px;
  position: relative;
  color: #FF7400;
  
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #1f5297;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #050d18;
  margin-bottom: 10px;
}

.resume  h5 {
  font-size: 16px;
  background: #e4edf9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume  h4 {
  justify-content: center;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #272829;
}


.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #1f5297;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 35px auto;
  list-style: none;
  text-align: center;
  background: #fff;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #272829;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  color: #FF7400;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  opacity: 1;
  left: 0;
  right: 0;
  bottom: -60px;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
  display: flex;
  justify-content: center;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff;
  font-size: 28px;
  text-align: center;
  background: rgba(20, 157, 221, 0.75);
  transition: 0.3s;
  width: 50%;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  background: rgba(20, 157, 221, 0.95);
}

.portfolio .portfolio-wrap .portfolio-links a + a {
  border-left: 1px solid #FF7400;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-links {
  opacity: 1;
  bottom: 0;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  margin-bottom: 20px;
}

.services .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  background: #232260;
  border-radius: 50%;
  transition: 0.5s;
  border: 0px solid #232260;
}

.services .icon i {
  color: #fff;
  font-size: 24px;
}

.services .icon-box:hover .icon {
  background: #FF7400;
}

.services .icon-box:hover .icon i {
  color: #fff;
}

.services .title {
  margin-left: 80px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.services .title a {
  color: #192531;
}

.services .title a:hover {
  color: #FF7400;
}

.services .description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
  font-weight: 500;

}



/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  padding-bottom: 130px;
}

.contact .info {
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .info i {
  font-size: 20px;
  color: #232260;
  float: left;
  width: 44px;
  height: 44px;
  background: #dff3fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #050d18;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #000000;
}

.contact .info .email p {
  padding-top: 5px;
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background: #FF7400;
  color: #fff;
}

.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
  background: #FF7400;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
  background: #00ff15;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #000000;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 20px 0;
  background: #f9f9f9;
}

.breadcrumbs h2 {
  font-size: 26px;
  font-weight: 300;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 15px;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #0e2442;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-container {
  position: relative;
}

.portfolio-details .portfolio-details-carousel {
  position: relative;
  z-index: 1;
}

.portfolio-details .portfolio-details-carousel .owl-nav, .portfolio-details .portfolio-details-carousel .owl-dots {
  margin-top: 5px;
  text-align: left;
}

.portfolio-details .portfolio-details-carousel .owl-dot {
  display: inline-block;
  margin: 0 10px 0 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.portfolio-details .portfolio-details-carousel .owl-dot.active {
  background-color: #FF7400 !important;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  position: absolute;
  right: 0;
  bottom: -70px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 50px;
}

.portfolio-details .portfolio-description h2 {
  width: 50%;
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}

@media (max-width: 768px) {
  .portfolio-details .portfolio-description h2 {
    width: 100%;
  }
  .portfolio-details .portfolio-info {
    position: static;
    margin-top: 30px;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  padding: 15px;
  color: #f4f6fd;
  font-size: 14px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 9999;
  background: #040b14;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #eaebf0;
}

@media (max-width: 1199px) {
  #footer {
    position: static;
    width: auto;
    padding-right: 20px 15px;
  }
}

/* 
Button
*/

.pt-3, .py-3 {
  padding-top: 1rem !important; 
}

.pr-3, .px-3 {
  padding-right: 1rem !important; 
}

.pb-3, .py-3 {
  padding-bottom: 1rem !important; 
}

.pl-3, .px-3 {
  padding-left: 1rem !important; 
}

@media (max-width: 767.98px) {
  .ftco-counter .counter-wrap {
    margin-bottom: 20px;
  }
}
  
.ftco-about .counter-wrap .text p {
  font-size: 20px; 
}
.ftco-about .counter-wrap .text p span {
  font-weight: 400;
  color: #6EC5B8; 
}
.ftco-about .counter-wrap .text p span.number {
  font-weight: 600;
  color: #d4d6d3; 
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important; 
}


.btn {
  cursor: pointer;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  border-radius: 40px;
  -webkit-box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  text-align: center;
  width: 200.33%;
  font-weight: 1000;
  display: flex;
  align-items: center;
  justify-content: center;

}

.btn:hover, .btn:active, .btn:focus {
    outline: none; 
}

.btn.btn-primary {
  background: #d4d6d3;
  border: 1px solid #d4d6d3 !important;
  color: #000 !important; 
}

.btn.btn-primary:hover {
  border: 1px solid #FF7400 !important;
  background: #FF7400 !important;
  color: #fff !important; 
}

.btn.btn-primary.btn-outline-primary {
  border: 2px solid #FF7400 !important;
  background: transparent !important;
  color: #FF7400 !important; 
}

.btn.btn-primary.btn-outline-primary:hover {
  border: 2px solid transparent !important;
  background: #FF7400 !important;
  color: #fff !important; 
}

/*Scroll Down Animation*/
.scrollDown{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scrollDown span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid #e0ecee; 
  border-right: 5px solid #e0ecee;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite; 

}

.scrollDown span:nth-child(2){
  animation-delay: -0.3s; 
}

.scrollDown span:nth-child(3){
  animation-delay: -s; 
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
/*Scroll Down Animation*/

/*-------------------------------------------------------------------------------
 TIMELINE SECTION BOTH 5.EDUCATION AND 7.EXPERIENCE EXTENDS FROM IT
-------------------------------------------------------------------------------*/

#timeline-education {
  /*education section*/
  position: relative;
}

#timeline-education:before {
  /*straight line*/
  content: "";
  position: absolute;
  top: 0;
  bottom: 23px;
  left: 50%;
  height: 99.5%;
  width: 6px;
  background: #FF7400;
}

#timeline-experience {
  /*experience section*/
  position: relative;
}

#timeline-experience::before {
  /*straight line*/
  content: "";
  position: absolute;
  top: 0;
  bottom: 23px;
  left: 50%;
  height: 99.5%;
  width: 6px;
  background: #FF7400;
}

.timeline-block {
  /*timeline block*/
  position: relative;
}

.timeline-block::after {
  /*timeline block after*/
  clear: both;
  content: "";
  display: table;
}

.timeline-block:first-child {
  margin-top: 0;
}

.timeline-block:last-child {
  margin-bottom: 0;
}

.timeline-block .card-content {
  /*content*/
  padding: 20px;
}

.timeline-block .card-content p {
  /*paragraph*/
  margin-top: 13px;
  text-align: left;
}

.timeline-block .card-content .modal-dot {
  outline: 0;
  font-size: 20px;
}

.timeline-block .card-content .modal-dot:hover,
.timeline-block .card-content .modal-dot:focus {
  color: #12579b;
}

.timeline-block .timeline-dot {
  /*timeline dot*/
  background: #FF7400;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 2;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 5px;
  right: 2%;
}

.timeline-block .timeline-dot i {
  /*dot icon*/
  text-align: center;
  font-size: 24px;
  margin-top: 26%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29);
}

.timeline-block .timeline-dot h6 {
  /*dot text*/
  padding: 0;
  font-size: 30px;
  font-weight: bold;
  margin-top: 8px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29);
}

.timeline-block .timeline-content {
  /*each timeline content*/
  position: relative;
  background: #fff;
  margin-right: 0;
  z-index: 1;
  margin-bottom: 5px;
  border-left: 5px solid #173b6c;
}

.timeline-block .timeline-content::before {
  /*horizontal line*/
  content: "";
  width: 58px;
  height: 6px;
  position: absolute;
  top: 26px;
  left: 100%;
  z-index: -2;
  background: #FF7400;
}

.timeline-block .timeline-content::after {
  /*horizontal line*/
  clear: both;
  content: "";
  display: table;
}

.timeline-block .timeline-content .timeline-title {
  /*timeline blocks title*/
  max-width: 90%;
  font-weight: 900;
  font-size: 20px;

}

.timeline-block .timeline-content .timeline-info {
  /*more details*/
}

.timeline-block .timeline-content .timeline-info h6 {
  /*subject or institution*/
  line-height: 18px;
}

.timeline-block .timeline-content .timeline-info h6 small {
  /*time*/
  color: inherit;
}

@media screen and (max-width: 768px) {
  .timeline-block .timeline-content:before {
    /*horizontal line hide at screen size*/
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  /*properties for min width 768*/
  #timeline-education::before {
    /*vertical line for education in in min width 768 */
    left: 50%;
    margin-left: -2px;
    height: 83.1%;
    background: #FF7400;
  }
  #timeline-experience::before {
    /*vertical line for experience in min width 768 */
    left: 50%;
    margin-left: -2px;
    height: 88.1%;
    background: #FF7400;
  }
  .timeline-block {
    /*timeline block in min width 768*/
    margin: -5em 0;
  }
  .timeline-block .card {
    margin: 0;
  }
  .timeline-block .timeline-dot {
    /*timeline dot in min width 768*/
    width: 50px;
    height: 50px;
    left: 50%;
    top: 0;
    z-index: 2;
    margin-left: -24px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .timeline-block .timeline-content {
    /*timeline content in min width 768*/
    width: 44%;
  }
  .timeline-block .timeline-content .timeline-title {
    /*timeline title min width 768*/
    max-width: 100%;
  }
  .timeline-block:nth-child(even) .timeline-content {
    /*content to right*/
    float: right;
  }
  .timeline-block:nth-child(even) .timeline-content::before {
    /*horizontal line*/
    top: 25px;
    left: auto;
    right: 101.2%;
    z-index: -2;
  }
}

.container-horizontal {
  max-width: 1140px;
  margin: 0 auto;
}


.container-horizontal ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container-horizontal ul::after {
  content: "";
  display: block;
  clear: both;
}

.container-horizontal ul.timeline-horizontal {
  display: flex;
  flex-wrap: wrap;
  padding-top: 120px;
  padding-left: 1em;
}

.container-horizontal ul.timeline-horizontal>li {
  width: calc(100% / 6);

}

.container-horizontal ul.timeline-horizontal>li:nth-of-type(even)>.content {
  -webkit-transform: translateY(calc(-100% - 24px));
  transform: translateY(calc(-100% - 24px));
}

.container-horizontal ul .year {
  color: #fff;
  background: #040b14;
  display: block;
  position: relative;
  padding-left: 24px;
  line-height: 24px;
  font-weight: bold;
  font-size: 14px;
}

.container-horizontal ul .year::before {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  background: #FF7400;
  border-radius: 50%;
  left: -24px;
  top: calc((40 - 24) / 2 * -1px);
}

.container-horizontal ul .year.new {
  border-radius: 0 24px 24px 0;
}

.container-horizontal ul .year.new::after {
  content: "";
  width: 5px;
  height: 5px;
  display: block;
  border: 20px solid #3f444c;
  box-sizing: border-box;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  right: -30px;
  top: -9.5px;
}

.container-horizontal ul .content {
  border-left: 6px solid #FF7400;
  margin-left: -4px;
  font-family: "Open Sans", sans-serif;

  padding: 15px 0;
  padding-right: 24px;
  font-size: 13px;
}

.container-horizontal ul .content>li {
  padding-left: 12px;
  border-bottom: 2px solid #FF7400;
  font-family: "Open Sans", sans-serif;

  padding-bottom: 8px;
  position: relative;
  margin-left: -4px;
}

.container-horizontal ul .content>li:last-of-type {
  border-bottom: 0;
  padding-bottom: 0;
}

.container-horizontal ul .content>li::before {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #eef4f7;
  left: 2px;
  top: 8px;
}

@media screen and (max-width: 1140px) {
  .container-horizontal ul.timeline-horizontal>li {
      width: calc(100% / 4);
  }
}

@media screen and (max-width: 991px) {
  .container-horizontal ul.timeline-horizontal>li {
      width: calc(100% / 2);
  }
}

@media screen and (max-width: 767px) {
  .container-horizontal ul.timeline-horizontal {
      display: block;
      padding-top: 0px;
  }

  .container-horizontal ul.timeline-horizontal>li {
      width: 100%;
  }

  .container-horizontal ul.timeline-horizontal>li:nth-of-type(even)>.content {
      -webkit-transform: none;
      transform: none;
  }
}